//------------------GLOBAL-SRYLE-------------------------

* {
    padding: 0;
    margin: 0;
    font-family: generalFont
}

body {
    background-color: white;
    color: #fff;
    overflow-x: hidden
}

pre {
    color: #fff
}

a {
    text-decoration: none;
    color: #fff
}

a:hover {
    text-decoration: none;
    color: #fff
}

.shop {
    padding: 0 40px
}

@media(max-width: 768px) {
    .shop {
        padding: 0 20px
    }
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
    display: none !important
}

.slick-prev,
.slick-next {
    background: #fff !important;
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: .02em;
    cursor: pointer;
    z-index: 1
}

.slick-prev:before {
    position: absolute;
    font-family: generalFont;
    color: #010101;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: .02em;
    font-weight: 600;
    cursor: pointer;
    content: "←"
}

.slick-next:before {
    position: absolute;
    font-family: generalFont;
    color: #010101;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: .02em;
    font-weight: 600;
    cursor: pointer;
    content: "→"
}

.slick-prev {
    left: -10px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}

.slick-next {
    right: -30px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}

.products__list {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.products__item {
    width: calc((100% - 60px)/4);
    margin-top: 20px
}

.products__item:not(:nth-child(4n+4)) {
    margin-right: 20px
}

.products__item-image {
    width: 100%;
    position: relative
}

.products__item-image img {
    width: 100%;
    max-height: 440px;
    -o-object-fit: cover;
    object-fit: cover
}

.products__item-like {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 25px;
    z-index: 1
}

.products__item-sale,
.products__item-hit {
    position: absolute;
    left: 20px;
    top: 20px;
    background: #000;
    text-align: center;
    color: #fff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding: 6px 10px;
    z-index: 1;
    text-transform: uppercase
}

.products__item-hit {
    background: #fff;
    color: #000;
    padding: 6px 14px
}

.products__item-hit-twice {
    top: 55px
}

.products__item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #141414;
    border-top: 1px solid rgba(0, 0, 0, .4)
}

.products__item-txt {
    width: calc(82% - 1px);
    border-right: 1px solid rgba(0, 0, 0, .4);
    padding: 15px 0px 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .02em;
    text-transform: uppercase
}

.products__item-name {
    font-weight: 700;
    width: 100%
}

.products__item-price {
    font-weight: 500
}

.products__item-old-price {
    color: rgba(255, 255, 255, .6);
    margin-left: 10px
}

.products__item-basket {
    width: 18%;
    min-width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.products__item-basket:hover {
    background: #232323
}


.hide {
    display: none !important
}

.scale {
    display: inline-block;
    overflow: hidden;
    width: 100%
}

.scale img {
    -webkit-transition: 1s;
    transition: 1s;
    display: block
}

.scale img:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04)
}

.like-active {
    position: absolute;
    top: 0
}

.favorites-and-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 40px;
    top: 90px;
    z-index: 1
}

.favorites-and-basket img {
    width: 100%
}

.favorites-image,
.basket-image {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer
}

.favorites-image {
    margin-right: 10px
}

.favorites-icon,
.basket-icon {
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px)
}

.basket-ellipse {
    height: 12px;
    position: absolute;
    top: 12px;
    left: 10px
}

.basket-ellipse__txt {
    position: absolute;
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: .02em;
    color: #fff;
    right: 17px;
    top: 14px
}

.basket-ellipse__txt-two-digit {
    font-size: 6px;
    right: 16px;
    top: 14px
}

@media(max-width: 768px) {

    .slick-prev,
    .slick-next {
        display: none !important
    }

    .favorites-and-basket {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        right: 20px;
        top: 100px
    }

    .favorites-image,
    .basket-image {
        width: 40px;
        height: 40px
    }

    .favorites-image {
        margin-right: 5px
    }

    .favorites-icon,
    .basket-icon {
        height: 20px;
        top: calc(50% - 10px)
    }

    .basket-ellipse {
        height: 10px;
        top: 6px;
        left: 8px
    }

    .basket-ellipse__txt {
        right: 9px;
        top: 7px
    }

    .basket-ellipse__txt-two-digit {
        right: 8px;
        top: 8px
    }
}

.no-overflow {
    overflow: hidden
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none
}

input,
textarea {
    outline: none
}

textarea {
    resize: none;
}

.go-back-bnt {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 40px
}

.go-back-arrow {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    margin-right: 20px
}

.go-back-txt {
    font-size: 24px;
    line-height: 100%;
    font-weight: 700
}

@media(max-width: 769px) {
    .go-back-arrow {
        margin-right: 10px
    }
}

@media(max-width: 490px) {
    .go-back-bnt {
        margin-bottom: 20px
    }
}

.modal {
    width: 100%;
    height: 100vh;
    background: #232323;
    z-index: 2;
    position: fixed;
    top: 0
}

.modal__content {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px)
}

.modal__close {
    width: 28px;
    height: 28px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.modal__close-stick {
    border: 1px solid #fff;
    width: 24px;
    position: absolute
}

.modal__close-stick:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.modal__close-stick:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.modal__btn {
    width: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 30px
}

.modal__btn-txt {
    font-weight: 400;
    font-size: 16px;
    color: #010101
}

.modal-reset-btn {
    background: #141414;
    font-weight: 400;
    color: #fff
}

.modal-reset-btn .modal__btn-txt {
    color: #fff
}

.modal__content .modal__btn:not(:nth-child(2)) {
    margin-top: 5px
}

//------------------PRODUCT_ADDED_STYLE----------------------
.product-added {
    &__modal {
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
    }

    &__content {
        padding: 30px;
        width: 470px;
        background: #232323;
    }

    &__title-block {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }

    &__close-btn {
        font-weight: 400;
        font-size: 25px;
        line-height: 20px;
        cursor: pointer;
    }

    &__info {
        display: flex;
        margin-top: 30px;
    }

    &__image {
        width: 64px;
        height: 64px;
        margin-right: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    &__article {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 5px;
    }

    &__size {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }

    &__price-block {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: auto;
    }

    &__price {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    &__btn-block  {
        width: 100%;
        margin-top: 50px;
        display: flex;
    }

    &__btn {
        width: calc((100% - 15px) / 2);
        padding: 15px 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    &__btn:last-child {
        background: #010101;
        color: #fff;
    }

    &__btn:first-child {
        background: #fff;
        color: #010101;
        margin-right: 15px;
    }
}
//------------------PRODUCT_ADDED_STYLE-END----------------------

//------------------GLOBAL-STYLE-END-------------------------

