.shop__banner-swiper-block {
    position: relative;
    cursor: pointer
}

.shop__switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 52px);
    z-index: 1
}

.shop__switcher-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 30px;
    padding-top: 7px
}

.shop__switcher-dot {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, .4)
}

.shop__switcher-dot--active {
    background: rgba(255, 255, 255, .8)
}

.shop__switcher-dot:not(:last-child) {
    margin-right: 10px
}

.shop__banner-swiper .slick-list .slick-track {
    height: 640px
}

.shop__banner-item {
    width: 100%;
    background: url(/local/templates/new_ru/img/shop_banner.png) no-repeat;
    background-size: cover;
    padding: 0 40px 40px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-position: center
}

.shop__banner-title-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%
}

.shop__banner-title {
    font-size: 72px;
    line-height: 82px;
    letter-spacing: .02em;
    color: #fff
}

.shop__banner-arrow {
    font-size: 100px;
    line-height: 100%;
    letter-spacing: .02em;
    color: #fff
}

@media(max-width: 768px) {
    .shop__banner-title {
        font-size: 45px;
        line-height: 50px
    }

    .shop__banner-arrow {
        font-size: 42px;
        line-height: 52px
    }

    .shop__banner-swiper .slick-list .slick-track {
        height: 580px
    }
}

.shop__nav {
    margin-top: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.shop__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.shop__nav-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #fff;
    margin-right: 40px
}

.shop__nav-list-bottom:last-child {
    margin-right: 0px
}

@media(max-width: 950px) {
    .shop__nav-item {
        font-size: 16px;
        line-height: 20px
    }
}

@media(max-width: 768px) {
    .shop__nav {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .shop__nav-item {
        font-size: 20px;
        line-height: 28px
    }

    .shop__nav-list-top {
        width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-bottom: 15px
    }

    .shop__nav-list-top .shop__nav-item {
        width: 33.333%;
        text-align: center
    }

    .shop__nav-list-bottom {
        width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .shop__nav-list-bottom .shop__nav-item {
        width: 40%;
        text-align: center
    }

    [dir="ltr"] .shop__nav-list-bottom .shop__nav-item:last-child {
        text-align: left
    }

    [dir="rtl"] .shop__nav-list-bottom .shop__nav-item:last-child {
        text-align: right
    }

    [dir="ltr"] .shop__nav-list-bottom .shop__nav-item:first-child {
        text-align: right
    }

    [dir="rtl"] .shop__nav-list-bottom .shop__nav-item:first-child {
        text-align: left
    }

    .shop__nav-item {
        margin-right: 0px
    }
}

@media(max-width: 520px) {
    .shop__nav-item {
        font-size: 16px;
        line-height: 20px
    }

    .shop__nav-list-top .shop__nav-item {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }

    .shop__nav-list-top .shop__nav-item:not(:last-child) {
        margin-right: 15px
    }
}

.shop__swiper-block {
    margin-top: 40px
}

.shop__swiper {
    left: -20px;
    width: calc(100% + 20px)
}

.shop__swiper-item {
    margin-left: 20px
}

.shop__swiper-item-image {
    width: 100%;
    position: relative
}

.shop__swiper-item-image img {
    width: 100%;
    height: 100%
}

.shop__swiper-item-like {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 25px;
    z-index: 1
}

.shop__swiper-item-sale,
.shop__swiper-item-hit {
    position: absolute;
    left: 20px;
    top: 20px;
    background: #000;
    text-align: center;
    color: #fff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding: 6px 10px;
    z-index: 1;
    text-transform: uppercase
}

.shop__swiper-item-hit {
    background: #fff;
    color: #000;
    padding: 6px 14px
}

.shop__swiper-item-hit-twice {
    top: 55px
}

.shop__swiper-item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #141414;
    border-top: 1px solid rgba(0, 0, 0, .4)
}

.shop__swiper-item-txt {
    width: calc(82% - 1px);
    border-right: 1px solid rgba(0, 0, 0, .4);
    padding: 15px 0px 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .02em;
    text-transform: uppercase
}

.shop__swiper-item-name {
    font-weight: 700;
    width: 100%
}

.shop__swiper-item-price {
    font-weight: 500
}

.shop__swiper-item-old-price {
    color: rgba(255, 255, 255, .6);
    margin-left: 10px
}

.shop__swiper-item-basket {
    width: 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.shop__swiper-item-basket:hover {
    background: #232323
}

@media(max-width: 768px) {
    .shop__swiper-block {
        overflow-x: scroll
    }

    .shop__swiper {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .shop__swiper-item {
        width: 300px;
        margin-left: 0
    }

    .shop__swiper-item:not(:last-child) {
        margin-right: 10px
    }

    .shop__swiper-item-name {
        font-weight: 500;
        font-size: 14px
    }

    .shop__swiper-item-price {
        font-size: 16px
    }

    .shop__swiper-item-basket img {
        width: 20px
    }

    .shop__swiper-item-like {
        width: 20px;
        top: 10px;
        right: 10px
    }

    .shop__swiper-item-hit-twice {
        top: 55px
    }

    .slick-prev,
    .slick-next {
        display: none !important
    }
}

@media(max-width: 600px) {
    .shop__swiper-item-like {
        width: 25px
    }

    .shop__swiper-item-basket img {
        width: 24px
    }
}

@media(max-width: 425px) {
    .shop__swiper-item {
        width: 280px
    }

    .shop__swiper-item-like {
        width: 20px
    }

    .shop__swiper-item-basket img {
        width: 16px
    }
}

.shop__title-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%;
    font-weight: 700
}

.shop__title {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: .02em
}

.shop__title-arrow {
    line-height: 100%;
    letter-spacing: .02em;
    font-size: 63px;
    color: #fff
}

@media(max-width: 768px) {
    .shop__title {
        font-size: 28px;
        line-height: 32px
    }

    .shop__title-arrow {
        font-size: 44px
    }
}

.gender-select {
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.gender-select__item {
    position: relative;
    width: 33.33%;
    cursor: pointer
}

.gender-select__item:hover .gender-select__text,
.gender-select__item:hover .gender-select__bg-opaciti {
    display: none
}

.gender-select__image {
    height: 100%
}

.gender-select__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.gender-select__text {
    position: absolute;
    top: calc(50% - 26px);
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: .02em;
    text-transform: uppercase;
    z-index: 1
}

.gender-select__bg-opaciti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4
}

@media(max-width: 1024px) {
    .gender-select__text {
        font-size: 28px
    }
}

@media(max-width: 768px) {
    .gender-select {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .gender-select__item {
        width: 100%
    }

    .gender-select__image {
        height: 300px
    }

    .gender-select__image img {
        -o-object-fit: cover;
        object-fit: cover
    }
}

.shop__new-product {
    margin-top: 90px
}

.categories {
    margin-top: 90px
}

.categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    margin-bottom: 110px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content
}

.categories__item {
    width: 50%;
    position: relative
}

.categories__item:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, .4)
}

.categories__item-image {
    margin-bottom: -4px;
    height: 100%;
    max-height: 700px
}

.categories__item-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.categories__item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #141414;
    padding: 25px;
    border-top: 1px solid rgba(0, 0, 0, .4);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: .02em;
    text-transform: uppercase
}

@media(min-width: 769px) {
    .categories__item:hover .categories__item-arrow {
        display: block
    }

    .categories__item-name {
        margin-right: 15px
    }

    .categories__item-arrow {
        display: none;
        margin-right: auto
    }
}

@media(max-width: 768px) {
    .categories__list {
        display: block
    }

    .categories__item {
        width: 100%
    }

    .categories__item:not(:last-child) {
        margin-bottom: 20px
    }

    .categories__item-image {
        display: block;
        margin-bottom: -4px;
        height: 500px
    }

    .categories__item-footer {
        padding: 18px 20px
    }

    .categories__item-arrow {
        display: block
    }

    .categories__item-name {
        font-size: 20px
    }
}

@media(max-width: 580px) {
    .categories__item-image {
        height: 400px
    }
}
