@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);

* {
    padding: 0;
    margin: 0;
    font-family: generalFont
}

body {
    background-color: #000;
    color: #fff;
    overflow-x: hidden
}

pre {
    color: #fff
}

a {
    text-decoration: none;
    color: #fff
}

a:hover {
    text-decoration: none;
    color: #fff
}

.go-victory {
    width: 100%
}

.go-victory__info {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(143.87%, rgba(0, 0, 0, 0))), url(/local/templates/new_ru/img/back.png) repeat-x;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 143.87%), url(/local/templates/new_ru/img/back.png) repeat-x;
    background-size: cover;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 110px 40px 70px 40px;
    background-size: cover;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.go-victory__team-name {
    width: 100%;
    max-width: 400px;
    margin-top: auto;
    position: relative;
    right: 50px
}

.go-victory__about {
    max-width: 610px;
    margin-right: 10%;
    padding-top: 40px
}

.go-victory__about-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: .02em;
    color: #fff;
    margin-bottom: 20px
}

.go-victory__about-title p:first-child {
    display: contents
}

.go-victory__about-title p:nth-child(2) {
    display: none
}

.go-victory__about-title span {
    position: relative;
    color: #d19ff9;
    -webkit-text-stroke: .16em #fff;
    -webkit-text-stroke-width: 10px;
    font-size: 60px;
    font-weight: 800
}

.go-victory__about-title span::before {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: .02em #d19ff9;
    -webkit-text-stroke-width: 0px;
    z-index: 2
}

.go-victory__about-title span::after {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: .02em #000;
    -webkit-text-stroke-width: 6px;
    right: 0;
    z-index: 1
}

.go-victory__about-txt {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .02em;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 30px
}

.go-victory__progress {
    min-width: 320px;
    width: 100%;
    max-width: 515px;
    padding-left: 10px
}

.go-victory__progress-background {
    background: url(/local/templates/new_ru/img/bull.png) no-repeat;
    background-size: 278px;
    height: 278px;
    width: 100%;
    background-position-x: center
}

.go-victory__progress-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.go-victory__progress-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px
}

.go-victory__progress-victories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.go-victory__progress-victories span {
    position: relative;
    color: #000;
    -webkit-text-stroke: .16em #000;
    -webkit-text-stroke-width: 24px;
    font-size: 46px;
    line-height: 42px;
    font-weight: 800
}

.go-victory__progress-victories span::before {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: .02em #000;
    -webkit-text-stroke-width: 2px;
    z-index: 2
}

.go-victory__progress-victories span::after {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: .02em #fff;
    -webkit-text-stroke-width: 10px;
    right: 0;
    z-index: 1
}

.go-victory__progress-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.go-victory__progress-points span {
    position: relative;
    color: #000;
    -webkit-text-stroke: .16em #000;
    -webkit-text-stroke-width: 24px;
    font-size: 46px;
    line-height: 42px;
    font-weight: 800
}

.go-victory__progress-points span::before {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: .02em #000;
    -webkit-text-stroke-width: 2px;
    z-index: 2
}

.go-victory__progress-points span::after {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: .02em #fff;
    -webkit-text-stroke-width: 10px;
    right: 0;
    z-index: 1
}

.go-victory__progress-place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.go-victory__progress-place span {
    position: relative;
    color: #000;
    -webkit-text-stroke: .16em #000;
    -webkit-text-stroke-width: 24px;
    font-size: 46px;
    line-height: 42px;
    font-weight: 800
}

.go-victory__progress-place span::before {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: .02em #000;
    -webkit-text-stroke-width: 2px;
    z-index: 2
}

.go-victory__progress-place span::after {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: .02em #fff;
    -webkit-text-stroke-width: 10px;
    right: 0;
    z-index: 1
}

.results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 595px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.results__title {
    display: none
}

.results__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%
}

.results__image {
    margin-right: 15px;
    height: 34px;
    padding-top: 5px
}

.results__image img {
    height: 100%
}

.results__txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .02em;
    color: #fff
}

.results__place {
    line-height: 22px;
    font-weight: 600
}

.go-victory__info-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: -5px
}

.go-victory__nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
    background: #141414;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .6);
    border-right: 1px solid #000;
    width: 66.3333333333%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.go-victory__nav-item:first-child {
    border-bottom: 4px solid #d19ff9;
    color: #fff;
    height: 76px;
    font-weight: 600
}

.go-victory__nav-item p:nth-child(2) {
    display: none
}

.go-victory__nav-item:last-child {
    border-right: none
}

.go-victory__line-up {
    padding: 80px 40px
}

.go-victory__staff-block {
    width: 100%;
    margin-top: 80px
}

.go-victory__staff-title {
    font-size: 42px;
    line-height: 52px;
    letter-spacing: .02em;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 600
}

.go-victory__staff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -20px
}

.go-victory__staff-person {
    width: 325px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(143.87%, rgba(0, 0, 0, 0))), url(/local/templates/new_ru/img/back.png);
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 143.87%), url(/local/templates/new_ru/img/back.png);
    margin-right: 20px;
    margin-bottom: 20px
}

.go-victory__coaching-staff-person-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
    width: 285px;
    position: relative;
    left: 20px;
    height: 373px
}

.go-victory__coaching-staff-person-image img {
    width: 100%
}

.go-victory__coaching-staff-person-txt-block {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: .02em;
    color: #fff;
    background: #232323;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
    height: 80px;
    font-weight: 800;
    border-top: 1px solid #000
}

.go-victory__players-staff-person-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
    width: 285px;
    position: relative;
    left: 20px;
    height: 373px
}

.go-victory__players-staff-person-image img {
    width: 100%
}

.go-victory__players-staff-person-txt-block {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: .02em;
    color: #fff;
    background: #232323;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
    height: 80px;
    font-weight: 800;
    border-top: 1px solid #000
}

.go-victory__players-staff-person-name {
    width: 244px
}

.go-victory__players-staff-person-number {
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #d19ff9;
    height: 80px
}

.go-victory__players-staff-person-number span {
    position: relative;
    color: #000;
    -webkit-text-stroke: .16em #000;
    -webkit-text-stroke-width: 10px;
    font-size: 42px;
    line-height: 42px;
    font-weight: 800
}

.go-victory__players-staff-person-number span::before {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: .02em #000;
    -webkit-text-stroke-width: 1px;
    z-index: 2
}

.go-victory__players-staff-person-number span::after {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: .02em #fff;
    -webkit-text-stroke-width: 4px;
    right: 0;
    z-index: 1
}

.invisible {
    display: none
}

@media(max-width: 1139px) {
    .go-victory__about-title {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .go-victory__info {
        padding-bottom: 55px
    }

    .go-victory__team-name {
        right: 0
    }
}

@media(max-width: 1049px) {
    .results__block {
        width: 100%
    }

    .results__block:not(:last-child) {
        margin-bottom: 15px
    }
}

@media(max-width: 940px) {
    .go-victory__about {
        margin-right: 2%
    }

    .go-victory__info {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media(max-width: 800px) {
    .go-victory__about-title {
        min-width: 0
    }

    .go-victory__about-title {
        min-width: 0
    }

    .go-victory-go {
        padding-top: 30px
    }

    .go-victory__progress {
        display: none;
        padding-left: 0;
        margin-bottom: 30px
    }

    .go-victory__progress-stats {
        width: 100%
    }

    .go-victory__info {
        padding-top: 30px;
        padding-bottom: 20px
    }

    .invisible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .go-victory__about {
        margin-right: 0;
        max-width: 510px
    }

    .go-victory__nav-item {
        font-size: 16px;
        line-height: 22px
    }

    .go-victory__nav-item p:nth-child(1) {
        display: none
    }

    .go-victory__nav-item p:nth-child(2) {
        display: block
    }
}

@media(max-width: 500px) {
    .results {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .go-victory__line-up {
        padding: 40px 20px
    }

    .go-victory__nav-item p:nth-child(1) {
        display: none
    }

    .go-victory__nav-item p:nth-child(2) {
        display: block
    }

    .go-victory__team-name {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content
    }

    .go-victory__about {
        max-width: 340px
    }

    .go-victory__about-txt {
        margin-bottom: 20px
    }

    .go-victory__about-title {
        height: 24px;
        font-size: 0;
        line-height: 0;
        margin-bottom: 12px
    }

    .go-victory__about-title p:first-child {
        display: none
    }

    .go-victory__about-title p:nth-child(2) {
        display: contents;
        font-size: 20px;
        line-height: 25px
    }

    .go-victory__about-title span,
    .go-victory__about-title span::before,
    .go-victory__about-title span::after {
        font-size: 20px;
        line-height: 28px
    }

    .go-victory__about-title span::before,
    .go-victory__about-title span::after {
        top: 0
    }

    .go-victory__about-title span {
        -webkit-text-stroke-width: 7px;
        margin-left: 10px
    }

    .go-victory__progress {
        margin-bottom: 0
    }

    .go-victory__progress-title {
        font-size: 12px;
        line-height: 17px
    }

    .go-victory__progress-stats {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 335px;
        margin-bottom: 20px
    }

    .go-victory__progress-stats span,
    .go-victory__progress-stats span::before,
    .go-victory__progress-stats span::after {
        font-size: 24px;
        line-height: 32px
    }

    .go-victory__progress-stats span {
        -webkit-text-stroke-width: 12px
    }

    .go-victory__progress-stats span::after {
        -webkit-text-stroke-width: 5px
    }
}

@font-face {
    font-family: generalFont;
    src: url(assets/cea1e8e8a45b9be98eac.ttf) format("truetype")
}

@font-face {
    font-family: boldGeneralFont;
    src: url(assets/0139c8dd0c2e0ebbba4b.ttf) format("truetype")
}

/*# sourceMappingURL=main.2fda330a88ebc99e31c1.css.map*/
